body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('/Users/rithvikshetty/Desktop/test/areca2.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.login-container {
    background-color: rgba(0, 128, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

label {
    margin-top: 10px;
    color: #fff;
}

input {
    padding: 8px;
    margin-top: 5px;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#error-message {
    color: red;
    margin-top: 10px;
}

.qr-scan-text {
    margin-top: 20px;
    font-size: 18px;
}
